*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#001e4d;
}

.app{
    background:#fff;
    width:90%;
    max-width: 600px;
    margin:100px auto 0;
    border-radius:10px;
    padding:30px;
}

.app h1{
    font-size:25px;
    font-weight:600;
    color:#001e4d;
    border-bottom:1px solid #333;
    padding-bottom:30px;
}

.quiz{
    padding:20px 0;
}

.quiz h2{
    font-size:18px;
    font-weight:600;
    color:#001e4d;
}

.btn{
    background:#fff;
    width:100%;
    color:#222;
    border:1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer;
    font-weight:500;
    transition:all 0.4s;
}

.btn:hover:not([disabled]){
    background:#222;
    color:#fff;
}

.btn:disabled{
    cursor:no-drop;
}

#next-btn{
    color:#fff;
    background:#001e4d;
    cursor:pointer;
    width:25%;
    font-weight: 500;
    padding:10px;
    border:0;
    margin:20px auto 0;
    border-radius:4px;
    display:none;
}

#puncte{
    float:right;
}

.correct{
    background-color: #9aeabc;
}

.incorrect{
    background-color:#ff9393;
}




